/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ecf0f1;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2c3e50;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px 0px 0px 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ecf0f1;
}

.logo:hover {
    color:rgba(190, 190, 190, 0.993);
}

/* Registration Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.register-card {
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
}

.register-title {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 5px;
}

/* Form Styles */
.register-form {
    display: flex;
    flex-direction: column;
}

.register-input {
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.register-input:focus {
    border-color: #3498db;
    outline: none;
}

/* Button Styles */
.register-button {
    padding: 12px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.register-button:hover {
    background-color: #2980b9;
}

/* Registration Options */
.register-options {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.register-link {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: #2980b9;
}
